#ActionName {
    width: 80px;
    -unity-text-align: middle-center;
}

#Icon {
    width: 16px;
    height: 16px;
}

#ToolTip {
    width: 300px;
    flex-shrink: 1;
    background-color: rgb(30, 28, 60);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    visibility: hidden;
}

#Key {
    color: rgb(182, 183, 134);
    width: 16px;
    height: 16px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    -unity-text-align: middle-center;
    border-left-color: rgb(182, 183, 134);
    border-right-color: rgb(182, 183, 134);
    border-top-color: rgb(182, 183, 134);
    border-bottom-color: rgb(182, 183, 134);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

#ToolTip .tooltip-hidden { display: none; }
#ToolTip .action-tooltip #title { min-width: 0; flex-shrink: 1; }
#ToolTip .action-tooltip #tooltip { white-space: normal; }
#ToolTip .action-mechanic { white-space: normal; color: rgb(189, 236, 255); margin-top: 5px; }

.MoreIcon {
    margin-left: 2px;
    margin-right: 2px;
}
